.place__url-link {
  font-family: Inter, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s;
}

.place__url-link:hover {
  opacity: 0.8;
  cursor: pointer;
}