.cover__subtitle {
  width: 360px;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
z-index: 1;
margin-top: 32px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
line-height: 16px;
  }
}