.header {
  min-width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin: 0;

}

@media screen and (max-width: 768px) {
  .header {
    min-width: calc(100% - 48px);
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-width: calc(100% - 32px);
    margin: 0 16px;
    align-items: center;
  }
}