.lead__title {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  font-family: Inter, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
 .lead__title {
   width: 100%;

  }
}

@media screen and (max-width: 682px) {
  .lead__title {

    font-size: 12.5vw;
    line-height: 13.75vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}