.intro {
  width: 690px;
  min-height: 429px;
  margin-top: 92px;
  margin-left: 100px;
  margin-bottom: 92px;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    margin: 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 32px);
    min-height: 754px;
    margin: 64px auto;
  }
}