.cover {
  min-width: calc(100% - 96px);
  height: 740px;
  margin-bottom: 92px;
  display: flex;
  justify-items: center;
  align-items: center;
 }

@media screen and (max-width: 1024px) {
  .cover {
    position: relative;
    min-width: calc(100% + 96px);
    height: 640px;
    left: -48px;
  }
}

@media screen and (max-width: 832px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-width: 100%;
    left: 0;
    height: 62.5vw;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-width: 100%;
    height: 200px;
    margin-bottom: 64px;
  }
}
