.cover__overlay {
  position: relative;
  min-height: 740px;
}

.cover__overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__link:hover.cover__overlay::after {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: calc(100vw / 1.6);
  }
}

/*@media screen and (max-width: 768px) {*/
/*  .cover__overlay {*/
/*    min-height: 480px;;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 560px)*/
/*  .cover__overlay {*/
/*    min-height: 380px;*/
/*  }*/

/*@media screen and (max-width: 320px) {*/
/*  .cover__overlay {*/
/*    min-height: 200px;;*/
/*  }*/
/*}*/