.cover__background {
  min-height: 740px;
  background-image: url('../../../images/cover__railway-trains.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
