.cover__title {

	font-family: Inter, Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;

}

@media screen and (max-width: 683px) {
	.cover__title {
		font-size: 10vw;
		line-height: 10.9375vw;
	}
}

@media screen and (max-width: 320px) {
	.cover__title {

		font-size: 32px;
		line-height: 35px;
	}
}